*{
   
    padding: 0;
}


.header_left img
{
    object-fit: contain;
    height: 40px;
    margin-left: 5px;
}

.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid whitesmoke;

}

.header_left
{
    display: flex;
    align-items: center;

}

.header_left span
{
    padding: 10px;
    cursor: pointer;
}

.header_middle
{
    display: flex;
    flex:0.7;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}

.material-icons
{
    color: grey;
}

.header_middle input
{
    
    border: none;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: medium;
    background-color: transparent;
}

.header_right
{
    display: flex;
    padding-right: 20px;
}

.header_right span
{
    padding: 10px;
    cursor: pointer;
}



/* Header Css Finished */


/* Sidebarr css */


.sidebar
{
    flex: 0.3;
    max-width: 300px;
    padding-right: 20px;
}

.sidebar_compose
{
    margin-top:15px;
    margin-left: 10px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: grey;
    padding: 10px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0px 2px 5px -2px rgba(0, 0,0, 0.75);
}

.sidebar_compose span{
    margin-right: 5px;

}

.sidebar_options
{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    color: #818181;

}

.sidebar_options .material-icons
{
    padding: 5px;
}

.sidebar_options h3
{
    flex: 1;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
}

.sidebar_options:hover,.sidebar_options:hover h3,.sidebar_options:hover .material-icons,
.sidebar_option_active,.sidebar_option_active h3,.sidebar_option_active .material-icons
{
    background-color: #fcecec;
    color: #c04b37;
    font-weight: 800;
}

.sidebar_footer
{
    display: flex;
    justify-content: center;

}

.sidebar_footer_icons
{
    margin: 7px;
    cursor: pointer;
}


.Main_Body
{
    display: flex;
    height: 100vh;
}

body
{
    height: 100vh;
    overflow-y: hidden;
}

.email_list
{
    flex: 1;
    overflow: scroll;
}

.emailist_settings
{
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
    padding: 8px;
}

.emaillist_settings_left
{
    display: flex;
    align-items: center;
}

.emailist_settings .material-icons
{
    margin: 5px;
    cursor: pointer;
}

.section
{
    display: flex;
    align-items: center;
    border-bottom-width: 2px;
    padding: 0px 15px;
    min-width: 320px;
    cursor: pointer;
    color: grey;
    border-width: 0;
}

.emaillist_sections
{
    position: sticky;
    top: 0;
    display: flex;
    justify-content:flex-start;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
    z-index: 999;
}

.section_selected
{
    background-color: whitesmoke;
    border-width: 3px;
    color: red;
    border-bottom: 3px solid red;
}

.section_selected .material-icons
{
    color: red;

}

.section:hover
{
    background-color: whitesmoke;
    border-width: 3px;
}

.section h4
{
    font-size: 14px;
    margin-left:15px;
}


.emailrow_options
{
    display: flex;
    align-items: center;
}

.emailrow_options .material-icons,input
{
    margin: 5px;
    

}
.emailRow
{
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
    z-index: 999;
}

.emailRow:hover
{
    border-top: 1px solid whitesmoke;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.24);
}
.emailrow_message
{
     display: flex;
     flex: 0.8;
     align-items: center;
     font-size: 13px;
}

.emailrow_message h4
{
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 5px;
}

.emailrow_title
{
    flex: 0.19;
    font-size: 13px;

}

.emailrow_time
{
    padding-right: 15px;
    font-size: 10px;
    font-weight: bold;
}

.emailrow_description
{
    font-weight: 400;
    color: grey;
}